.payment-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: -3rem;
}

#total-price {
    font-size: x-large;
    font-weight: bold;
}
